<ion-app>
    <ion-content class="ion-padding">
        <h1>Welcome to</h1>
        <div class="logo">
            <img src="../../../assets/images/logo.png" />
        </div>
        <ion-input type="text" placeholder="Nhập tài khoản" autocomplete="off"></ion-input>
        <ion-input type="password" placeholder="Nhập mật khẩu" autocomplete="off"></ion-input>
        <a href="#">Quên mật khẩu?</a>
        <ion-button expand="full" shape="round">Đăng nhập</ion-button>
    </ion-content>
    <ion-footer class="ion-no-border">
        <p>Một sản phẩm của UKB</p>
    </ion-footer>
</ion-app>